<div class="table-responsive">
  <table class="table table-hover table-outline table-vcenter card-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.highest_priority_role.name %></td>
          <td>
            <% roles = user.roles().pluck(:name) %>
            <% if !roles.include?("admin") %>
              <div class="item-action dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                  <i class="fas fa-ellipsis-v px-4"></i>
                </a>
                <div class="dropdown-menu dropdown-menu">
                  <% if roles.include?("denied") %>
                    <%= button_to admin_unban_path(user_uid: user.uid), class: "dropdown-item", "data-disable": "" do %>
                      <i class="dropdown-icon fas fa-lock-open"></i> <%= t("administrator.users.settings.unban") %>
                    <% end %>
                    <button class= "delete-user dropdown-item" data-path="<%= delete_user_path(user_uid: user.uid) %>" data-delete="temp-delete" data-toggle="modal" data-target="#deleteAccountModal">
                      <i class="dropdown-icon fas fa-user-minus"></i> <%= t("administrator.users.settings.delete") %>
                    </button>
                  <% elsif roles.include?("pending") %>
                    <%= button_to admin_approve_path(user_uid: user.uid), class: "dropdown-item", "data-disable": "" do %>
                      <i class="dropdown-icon far fa-check-circle"></i> <%= t("administrator.users.settings.approve") %>
                    <% end %>
                    <%= button_to admin_ban_path(user_uid: user.uid), class: "dropdown-item", "data-disable": "" do %>
                      <i class="dropdown-icon far fa-times-circle"></i> <%= t("administrator.users.settings.decline") %>
                    <% end %>
                  <% else %>
                    <%= link_to admin_edit_user_path(user_uid: user.uid), class: "dropdown-item" do %>
                      <i class="dropdown-icon fas fa-user-edit"></i> <%= t("administrator.users.settings.edit") %>
                    <% end %>
                    <%= button_to admin_ban_path(user_uid: user.uid), class: "dropdown-item", "data-disable": "" do %>
                      <i class="dropdown-icon fas fa-lock"></i> <%= t("administrator.users.settings.ban") %>
                    <% end %>
                    <button class= "delete-user dropdown-item" data-path="<%= delete_user_path(user_uid: user.uid) %>" data-delete="temp-delete" data-toggle="modal" data-target="#deleteAccountModal">
                      <i class="dropdown-icon fas fa-user-minus"></i> <%= t("administrator.users.settings.delete") %>
                    </button>
                    <button class= "change-user-role dropdown-item" data-path="<%= change_user_role_path(user_uid: user.uid) %>" data-toggle="modal" data-role="<%=user.highest_priority_role.name %>" data-target="#changeUserRoleModal">
                      <i class="dropdown-icon fas fa-user-edit"></i> Edit role
                    </button>
                  <% end %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render "shared/modals/delete_account_modal", delete_location: relative_root %>
<%= render "shared/modals/change_user_role_modal", user_role_location: relative_root %>
